.gradient-custom {
    background: linear-gradient(to bottom,
    #FCBB6D, #D8737F, #AB6C82);
    /*background: linear-gradient(to bottom,*/
    /*#a3d9fa, #abcff5, #D8737F, #FCBB6D);*/
    padding-bottom: 20px;
    /*min-height: 100vh;*/
}

/*FCBB6D D8737F AB6C82 685D79 475C7A*/

/*body{*/
/*    background: linear-gradient(to top left,*/
/*    #475C7A, #D8737F, #FCBB6D);*/
/*}*/

.btn {
    /*border-color: rgb(125, 225, 243);*/
    /*color: #fffbfb;*/
    /*background-color: rgb(125, 225, 243);*/
    /*border-color: rgb(125, 225, 243);*/
    /*color: #fffbfb;*/
    /*background-color: rgb(125, 225, 243);*/
    border-color: #518043;
    color: #fffbfb;
    background-color: #518043;

}


#profilePicture {
    /*border: 2px solid #555;*/
    /*padding-top: 5%;*/
    clip-path: circle();
    width: 70%;
    border-radius: 100%;
    border: 2px solid seashell;
    object-position: 0 0;

    /*padding-bottom: 2%;*/
    /*border-color: black;*/
    /*border-width: 10px;*/
}

#imageContainer {
    display: flex;
    flex-direction: column;
    /*border-radius: 50%;*/
    align-items: center;
    padding-bottom: 2%;
}

#myPersonalDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#myInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(63, 62, 60, 0.20);
    border-radius: 10%;
    padding: 10px;
    color: seashell;
}

.edit {
    /*border-color: rgb(223, 107, 252);*/
    /*color: #fffbfb;*/
    /*background-color: rgb(223, 107, 252);*/
    border-color: #FCBB6D;
    color: #fffbfb;
    background-color: #FCBB6D;
}

.cancelBtn {
    border-color: rgb(255, 0, 0);
    color: #fffbfb;
    background-color: rgb(255, 0, 0);
}

.btn:hover {
    /*background-color: #46ff4a;*/
    /*border-color: #46ff4a;*/
    background-color: #ff9e1b;
    border-color: #ff9e1b;
}

.physDate {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col {
    display: grid;
}

#scheduleHeader {
    text-align: center;
}

#appointments {
    min-height: 100vh;
    font-family: "Raleway", sans-serif;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-areas:
        "myPersonalDetails"
        "myPatientSched"
        "otherDetails";
    padding-bottom: 100px;
    /*min-height: 150vh;*/
    /*background: linear-gradient(to top left,*/
    /*rgb(125, 225, 243),*/
    /*rgb(245, 213, 106));*/
}

.myPatientSched {
}

.myClinSchedSection {
    padding-bottom: 60px;
}

footer {
    background: linear-gradient(to top,
    #FCBB6D, #D8737F, #AB6C82);
    /*background: linear-gradient(to bottom
    */
    /*#475C7A, #D8737F, #FCBB6D);*/
    /*background-blend-mode: color;*/
}

.navbar {
    /*background: #475C7A;*/
    /*background-blend-mode: color;*/
    background: #FCBB6D;
    /*background: linear-gradient(to top right,*/
    /*#475C7A, #D8737F, #FCBB6D);*/
    color: black;
}

#appointmentsTable {
    font-size: 20px;
}

body {
    font-family: "Raleway", sans-serif;
}
