.gradient-custom {
    background: linear-gradient(to bottom, #fed9b7,
    #fdfcdc, #00afb9, #0081a7);
}

.navbar {
    font-family: "Raleway", sans-serif;
    background: linear-gradient(to bottom, #fed9b7, #fed9b7);
}

form {
    font-family: "Raleway", sans-serif;
}

footer {
    background: linear-gradient(to top, #00afb9, #0081a7);
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}