.gradient-custom {
    background: linear-gradient(to bottom, #fed9b7,
    #fdfcdc, #00afb9, #0081a7);
    padding-bottom: 20px;
}

footer {
    background: linear-gradient(to top, #00afb9, #0081a7);
}

.btn {
    border-color: #518043;
    color: #fffbfb;
    background-color: #518043;
}

.btn:hover {
    background-color: #0081a7;
    border-color: #0081a7;
}

.navbar {
    background: linear-gradient(to bottom, #fed9b7, #fed9b7);
    color: black;
    font-family: "Raleway", sans-serif;
}

#appointmentsTable {
    font-size: 20px;
}

.appointment-cont {
    /* background: url('../html/hand_medicalcross_logo.jpg') no-repeat center center fixed;
    background-color: seashell;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */

    font-family: "Raleway", sans-serif;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-areas:
        "physDate"
        "schedule";
    padding-bottom: 100px;
}

.physDate {
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.physDateForm {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgba(63, 62, 60, 0.20);
    padding: 40px;
    border-radius: 30px;
}

#scheduleHeader {
    text-align: center;
}

#schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#date {
    padding-left: 25px;
}

#clinicianName {
    padding-left: 25px;
}