.gradient-custom {
    background: linear-gradient(to bottom,
    #FCBB6D, #D8737F, #AB6C82, #685D79);
}

.searchSection {
    font-family: "Raleway", sans-serif;
    min-height: 100vh;
    text-align: center;
}

.results {
    color: seashell;
}

footer {
    background: linear-gradient(to top,
    #FCBB6D, #D8737F, #AB6C82, #685D79);
}

.btn {
    width: 80px;
    border-color: rgb(125, 225, 243);
    color: #fffbfb;
    background-color: rgb(125, 225, 243);
}

.btn:hover {
    background-color: #46ff4a;
    border-color: #46ff4a;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-content: center;
    column-gap: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.navbar {
    font-family: "Raleway", sans-serif;
    background: #FCBB6D;
    color: black;
}