.gradient-custom {
    background: linear-gradient(to top left,
    rgb(125, 225, 243),
    rgb(245, 213, 106))
}

.searchSection {
    font-family: "Raleway", sans-serif;
    min-height: 100vh;
    text-align: center;
}

footer {
    background: linear-gradient(to bottom left,
    rgb(125, 225, 243),
    rgb(245, 213, 106))
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-content: center;
    column-gap: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.navbar {
    font-family: "Raleway", sans-serif;
    background: linear-gradient(to bottom left,
    rgb(125, 225, 243),
    rgb(245, 213, 106))
}